# Use `systemctl --user start ssh-tunnel@example.com` to start, and
# `systemctl --user enable ssh-tunnel@example.com` to start at boot/login
[Unit]
Description=SSH tunnel to %i
After=network-online.target

[Service]
ExecStart=/usr/bin/ssh -v -N -T -o "ServerAliveInterval 15" -o "ServerAliveCountMax 3" -o "ExitOnForwardFailure=yes" -o "ControlPersist=no" %i
# TODO: Once systemd can do some kind of exponential backup, set that up here
RestartSec=5
Restart=Always

[Install]
WantedBy=default.target
