# To enable:
#   systemctl --user start transmission-daemon
#   systemctl --user enable transmission-daemon
#   systemctl --user start transmission-update-blocklists.timer
#   systemctl --user enable transmission-update-blocklists.timer
# Enable starting services w/out login
#   sudo loginctl enable-linger ${USER}
# See also:
# - https://github.com/transmission/transmission/blob/master/daemon/transmission-daemon.service
[Unit]
Description=Transmission BitTorrent Daemon for %i
After=network.target
#RequiresMountsFor=/mnt/somewhere

[Service]
Type=notify
IOSchedulingClass=idle
ExecStart=/usr/bin/transmission-daemon --foreground --config-dir %h/.config/transmission-daemon/%i/
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
NoNewPrivileges=true
MemoryDenyWriteExecute=true
TimeoutStartSec=infinity
Environment="TSMU_PROFILE=%i"
# IPv4 only, from https://github.com/transmission/transmission/issues/5362#issuecomment-1542623243
# RestrictAddressFamilies=AF_UNIX AF_INET

[Install]
WantedBy=default.target
DefaultInstance=Default
