# To enable:
#   systemctl --user start transmission-daemon
#   systemctl --user enable transmission-daemon
#   systemctl --user start transmission-update-blocklists.timer
#   systemctl --user enable transmission-update-blocklists.timer
# Enable starting services w/out login
#   sudo loginctl enable-linger ${USER}
# See also:
# - https://github.com/transmission/transmission/blob/master/daemon/transmission-daemon.service
[Unit]
Description=Transmission BitTorrent Daemon for %u
After=network.target
#RequiresMountsFor=/mnt/somewhere

[Service]
Type=notify
IOSchedulingClass=idle
ExecStart=/usr/bin/transmission-daemon --foreground
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
NoNewPrivileges=true
MemoryDenyWriteExecute=true
TimeoutStartSec=3600

[Install]
WantedBy=default.target
