[Unit]
Description=Transmission BitTorrent Daemon for %u
After=network.target

[Service]
IOSchedulingClass=idle
ExecStart=/usr/bin/transmission-daemon --foreground
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always

[Install]
WantedBy=default.target
